.context-menu(#menu='', [style.top.px]="mouseEvent.y", [style.left.px]="mouseEvent.x" )
  ul
    li(*ngFor="let item of menuItems",
    (click)="select(item, $event)",
    [ngClass]="{'context-menu-item-selected': item.selected}")
      context-menu-item([menuItem]="item", [componentKey]="menuItemComponentKey")
