<svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" viewBox="0 0 20 20">
    <g fill="none" fill-rule="evenodd">
        <path d="M0 0h20v20H0z"/>
        <path fill="currentColor" d="M17.885 11.919c-1.049-1.817-.418-4.147 1.41-5.205L17.329 3.31a3.766 3.766 0 0 1-1.91.518c-2.101 0-3.804-1.714-3.804-3.828h-3.93a3.766 3.766 0 0 1-.508 1.919C6.128 3.736 3.796 4.355 1.965 3.301L0 6.705a3.767 3.767 0 0 1 1.404 1.396c1.048 1.815.42 4.14-1.4 5.2l1.965 3.404a3.766 3.766 0 0 1 1.902-.513c2.094 0 3.792 1.703 3.803 3.808h3.93c-.001-.646.162-1.3.508-1.899 1.047-1.814 3.374-2.433 5.203-1.387l1.966-3.404a3.767 3.767 0 0 1-1.396-1.391zm-8.238 2.13a4.05 4.05 0 1 1 0-8.098 4.05 4.05 0 0 1 0 8.098z"/>
    </g>
</svg>