<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"" viewBox="0 0 20 17">
<g fill="none" fill-rule="evenodd">
    <path d="M0-2h19.048v20H0z"/>
    <path fill="currentColor" d="M18.41 2.578h-4.909v-1.29C13.501.58 12.95 0 12.274 0h-4.91C6.69 0 6.137.58 6.137 1.289v1.289h-4.91C.552 2.578 0 3.158 0 3.866v11.599c0 .709.552 1.289 1.227 1.289h17.184c.675 0 1.227-.58 1.227-1.289V3.866c0-.709-.552-1.288-1.227-1.288zM7.365 1.29l.002-.002h4.906l.002.002v1.287h-4.91V1.29zm11.047 6.442h-2.455v1.933c0 .354-.276.644-.614.644h-1.227c-.338 0-.614-.29-.614-.644V7.733H6.137v1.933c0 .354-.276.644-.614.644H4.296c-.338 0-.614-.29-.614-.644V7.733H1.227v-1.29h17.184v1.29z"/>
</g>
</svg>