<svg  width="20" height="20" viewBox="0 0 19 20">
    <g fill="none" fill-rule="evenodd"><path d="M-1 0h20v20H-1z"/>
        <path fill="currentColor" d="M9.167 10c1.38 0 2.559-.488 3.535-1.465C13.68 7.56 14.167 6.38 14.167 5c0-1.38-.488-2.559-1.465-3.535C11.725.488 10.547 0 9.167 0c-1.38 0-2.559.488-3.535 1.465C4.655 2.44 4.167 3.62 4.167 5c0 1.38.488 2.559 1.465 3.535C6.608 9.512 7.787 10 9.167 10zm9.121 5.28c-.03-.438-.091-.911-.182-1.42a11.04 11.04 0 0 0-.346-1.412 6.7 6.7 0 0 0-.56-1.27 4.573 4.573 0 0 0-.807-1.054 3.4 3.4 0 0 0-1.113-.697 3.914 3.914 0 0 0-1.452-.26c-.078 0-.26.093-.547.28-.286.186-.61.395-.97.625-.36.23-.83.438-1.406.624a5.62 5.62 0 0 1-1.739.28 5.62 5.62 0 0 1-1.738-.28c-.577-.186-1.046-.394-1.406-.624-.36-.23-.684-.439-.97-.625-.287-.187-.469-.28-.547-.28-.53 0-1.013.087-1.452.26-.438.174-.81.406-1.113.697-.304.29-.573.642-.807 1.054a6.71 6.71 0 0 0-.56 1.27c-.139.434-.254.905-.345 1.413-.091.508-.152.98-.182 1.419-.03.439-.046.888-.046 1.348 0 1.041.317 1.864.95 2.467.634.603 1.476.905 2.527.905h11.38c1.05 0 1.892-.302 2.526-.905.634-.603.95-1.426.95-2.467 0-.46-.014-.91-.045-1.348z"/></g>
</svg>