<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  viewBox="0 0 20 20">
    <g fill="none" fill-rule="evenodd">
        <path d="M0 3h20v20H0z"/>
        <path fill="currentColor" d="M7.5 0L0 10h7.5l-5 10L20 7.5H10L17.5 0z"/>
    </g>
</svg>