<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  viewBox="0 0 20 20">
    <g fill="none" fill-rule="evenodd">
        <path d="M0 0h20v20H0z"/>
        <g fill="currentColor">
            <path d="M0 0h2.5v20H0zM16.25 12.559c1.614 0 3.019-.39 3.75-.967v-10c-.731.576-2.136.967-3.75.967-1.614 0-3.019-.39-3.75-.967v10c.731.576 2.136.967 3.75.967zM11.875.635C10.959.245 9.619 0 8.125 0 6.242 0 4.603.39 3.75.967v10C4.603 10.39 6.242 10 8.125 10c1.494 0 2.834.246 3.75.635v-10z"/>
        </g>
    </g>
</svg>