@import "../../../../styles"

.chtpz-chat-thread-body
  background-color #ff90eb
  height 100%
  position relative
  margin -50px 0
  margin-top -70px
  padding 50px test-padding
  padding-top 70px
  .msg-container-base {
    background: #e8e8e8;
    margin: 0;
    padding: 0 10px 30px;
    overflow-x: hidden;
    height 100%
  }

