.chat-box([ngClass]='{"chat-opened": opened}')
    .chat-preloader.text-center.chat-dnd-handler(ngShow='!loaded')
        .loaded-text Загрузка чата
        i.fa.fa-times.pointer.close-chat(title='Закрыть', (click)='close()')
    .chat-inner-box(ngShow='loaded')
        .chat-header.chat-dnd-handler(ngShow='loaded')
            i.fa.fa-times.pointer.close-chat(title='Закрыть', (click)='close()')
    .chat-body
        .chat-iframe-box
            chat-view("[chatCtrl]"="chatCtrl")