.chat-header {
  cursor move
  width: 100%;
  background-color: #0D3349;
  height: 28px;
  padding: 5px;
  position: relative;
  .close-chat {
    cursor pointer
    color: white;
    position: absolute;
    color: white;
    font-size: 19px;
    right: 14px;
    z-index: auto;
    position: absolute;
  }
}

.chat-box
  position absolute
  bottom 0
  right 0
  width: 750px;
  height: 500px;
  z-index: 1040;
  min-width: 400px;
  box-shadow: #b9b9b9 0 0 15px -2px;
  border: 1px solid #c1c1c1;
  display none;
  &.chat-opened
    display block;

.chat-box .chat-preloader {
  height: 100%;
  background: url(src/static/images/preloaders/line_preloader.gif) no-repeat center 55%;
  justify-content: center;
  position: absolute;
}

.chat-body
  width: 100%;
  position: absolute;
  top: 28px;
  bottom: 0px;