div(style={width: '100%', 'border-bottom': 'solid 2px #eaeaea'})
    div(*ngFor='let tab of tabs',
        (click)='whenTabClick.next(tab)',
        [ngStyle]='tab.ngStyle | async',
        style={
            display: 'inline-block',
            padding: '10px',
            position: 'relative',
            bottom: '-2px',
            'border-bottom': 'solid 2px transparent',
            cursor: 'pointer'
        })
            span {{ tab.label | async }}
