.media.chtpz-chat-media.chat-hover.chtpz-chat-tabs-thread([ngClass]='{"active": selected }')
  .float-left.avatar
    contact-avatar([presentation]='thread')
  .media-body
    h5.media-heading.contact-name
      | {{thread.name}}
    small.message-preview {{thread.lastMessage?.text}}
    .thread-unread-count(*ngIf='unreadCount') {{unreadCount}}
  a.div-link((click)='clicked($event)',
              title='{{thread.name}}') Select-> This text is invisible.
