@import "../../../../../styles"

.chtpz-chat-tabs-thread
  .media-body
    small
      float left
    .thread-unread-count
      display: inline;
      background-color: #ff0000;
      color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      float: right;
      text-align: center;
      line-height: 22px;
      font-size: 10px;
/*
.chtpz-chat-tabs-thread {
  position: relative;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  &.media {
    zoom: 1;
    overflow: hidden;
  }
  &.active{
    background-color second-background-color
  }

  .avatar {
    width: 50px;
    height: 50px;
    &.media-object{
      display: block;
    }
  }

  .media-body{
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    zoom: 1;
    overflow: hidden;
    padding-left: 10px;
  }

  &:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .8;
  }

// http://ctrlq.org/code/19639-turn-div-clickable-link
  .div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    !* Makes sure the link doesn't get underlined *!
    z-index: 10;
    !* raises anchor tag above everything else in div *!
    background-color: white;
    !*workaround to make clickable in IE *!
    opacity: 0;
    !*workaround to make clickable in IE *!
  //filter: alpha(opacity=0);
    !*workaround to make clickable in IE *!
  }

}


*/
