.simple-notification-wrapper(
    [ngClass]='[position.horizontal, position.vertical]',
    (mouseenter) = 'service.containerMouseEnter.next(true)',
    (mouseleave)='service.containerMouseEnter.next(false)')
   simple-notification(
       *ngFor='let notification of notifications; let i = index',
       [item]='notification',
       [position]='i')