.simple-notification-wrapper {
  position: fixed;
  width: 300px;
  z-index: 1000;
}

.simple-notification-wrapper.middle {
  position: fixed;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.simple-notification-wrapper.middle:not(.right):not(.left)
{
  top: 50%;
left: 50%;
}

.simple-notification-wrapper.middle.left,
.simple-notification-wrapper.middle.right
{
  top: 50%;
  transform: translate(0%, -50%);
}

.simple-notification-wrapper.middle.top,
.simple-notification-wrapper.middle.bottom
{
  left: 50%;
  transform: translate(-50%, 0%);
}

.simple-notification-wrapper.left { left: 20px; }
.simple-notification-wrapper.top { top: 20px; }
.simple-notification-wrapper.right { right: 20px; }
.simple-notification-wrapper.bottom { bottom: 20px; }

@media (max-width: 340px) {
  .simple-notification-wrapper {
    width: auto;
    left: 20px;
    right: 20px;
  }
}