.avatar-box
  img.media-object( *ngIf="presentation.avatarSrc",
  src='{{presentation.avatarSrc}}',
  [ngClass]="class")
  .naming-avatar.media-object( *ngIf="!presentation.avatarSrc") {{acronym}}
  contact-status-avatar([isCurrentUser]='true', [status]='ContactStatus.Online')
