@import "../styles/styles.styl"

.chtpz-chat-container
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color white
  //display inline-block
  .avatar
    .avatar-box
      position relative
      img,.naming-avatar {
        display: block;
        width: 100%;
        height: 100%;
        border-radius 50%
        width: (avatar-size)px
        height (avatar-size)px
      }
      .naming-avatar{
        background-color: header-background-color;
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 28px;
        font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
      }
  .avatar-status{
    position absolute
    bottom 0
    right 3px
    width (avatar-status-size)px
    height (avatar-status-size)px
    border-radius 50%
    border: header-background-color 2px solid;
    &.avatar-status-online{
      background-color avatar-status-online
    }
    &.avatar-status-away{
      background-color avatar-status-away
    }
    &.avatar-status-busy{
      background-color avatar-status-busy
    }
  }


  .chtpz-chat-media
    position: relative;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    &.media {
      zoom: 1;
      overflow: hidden;
    }
    &.active{
      background-color second-background-color
    }
    &.chtpz-chat-tabs-header{
       overflow auto
     }
    .avatar {
      width: 50px;
      height: 50px;
      &.media-object{
        display: block;
      }
    }

    .media-body{
      display: block;
      vertical-align: top;
      zoom: 1;
      overflow: hidden;
      padding-left: 10px;
      h5{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 4px
      }
      small{
        line-height: 12px;
        display: block;
        color: header-background-color
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.chat-hover:hover {
      cursor: hand;
      cursor: pointer;
      opacity: .8;
    }

    // http://ctrlq.org/code/19639-turn-div-clickable-link
    .div-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-decoration: none;
      /* Makes sure the link doesn't get underlined */
      z-index: 10;
      /* raises anchor tag above everything else in div */
      background-color: white;
      /*workaround to make clickable in IE */
      opacity: 0;
      /*workaround to make clickable in IE */
    //filter: alpha(opacity=0);
      /*workaround to make clickable in IE */
    }


  .context-menu{
    position absolute
    background-color #f1f1f1
    color header-background-color
    width 50px
    width: 150px;
    top: 15px;
    z-index 11
    ul{
      padding 5px 0
      margin 0
      li{
        display block
        padding-left 10px
        & div {
          display inline-block
        }
        &.context-menu-item-selected{
          opacity 0.6
        }
        &:hover:not(.context-menu-item-selected){
          cursor pointer
          background-color header-background-color
          color main-background-color
        }
        &:hover.context-menu-item-selected{
          cursor not-allowed
        //background-color header-background-color
        //color main-background-color
          opacity 0.6
        }
        .avatar-status.avatar-status-icon{
          position relative
          border none
          top 2px
          margin-right 8px
        }
      }
    }
  }

.chtpz-chat-container.row
  margin-left 0
  margin-right 0
  height: 100%;
  .col
    padding-left 0
    padding-right 0
    &.thread-container
      min-width 1px
      border-left main-border
    &.tabs-container
      //border-right main-border
      width 300px

.webkit-scrollbar
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background:#ddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd;
  }

