doctype html

.chtpz-contacts-list
  div.contacts-list-title {{title}}
  section.contacts-input
    label
      i.fa.fa-search
    input(#searchBox="", placeholder="Введите ФИО", (input)='search(searchBox.value)')
  section.contacts-list.webkit-scrollbar
    .spinner.full-fill(*ngIf="loading")
      div
        img(src="src/static/images/preloaders/line_preloader.gif")
    ul.list-group(*ngIf="!loading")
      li.list-group-item.list-no-result(*ngIf="!contactsList.length") Ничего не найдено
      li.list-group-item.contact-item(*ngFor='let contact of contactsList',
      (click)='toggleSelected(contact)',
      [class.active]='isSelected(contact)')
        | {{contact.name}}
