@import "../../../../../styles"

.chtpz-contacts-list
  height 100%
  position relative
  .contacts-list-title
    margin 20px 0

  section.contacts-input
    position relative;
    label
      position: absolute;
      height: 100%;
      top: 0px;
      left 4px
      opacity 0.6
    input
      border main-border
      border-radius 4px
      padding 0 25px
  section.contacts-list
    top: 90px;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: auto;
    border: main-border;
    border-radius 0.25rem;
    li.contact-item
      border-right none
      border-left none
      &:hover
        cursor pointer
      &:not(.active):hover
        background-color #f9f9f9
      &.active
        //background-color #e0e0e0
        color #fff
        border main-border
    li.list-no-result
      border none
      text-align center
      display block
    .spinner
      height: 100%;
      display flex;
      justify-content center;
      & > div
        align-self: center;

  .search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
  }
  .search-result:hover {
    color: #eee;
    background-color: #607D8B;
  }





