//avatar-size=50
@import "../../../../../styles/styles.styl"
.col-md-2, .col-md-10 {
  padding: 0;
}

.icon_minim {
  padding: 2px 10px;
}

.msg-receive {
  padding-left: 0;
  margin-left: 0;
}


.chat-message
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  position relative
  //margin-right: 50px;
  >
    p
      font-size: 13px;
      margin: 0 !important;
      word-wrap: break-word;
    .time {
      font-size: 11px;
      color: #ccc7c9;
      float right
    }
    .avatar
      position: absolute;
      top 0

      &.msg-receive
        right: -(avatar-size+5)px
      //margin-right 8px

      &.msg-sent
        left: -(avatar-size+5)px
      //margin-left 8px
      >
        img {
          display: block;
          border-radius 50%
          width: (avatar-size)px
          height (avatar-size)px
        }

  &.msg-receive
    margin-right (avatar-size+10)px
  &.msg-sent
    margin-left (avatar-size+10)px

.msg-container
  padding: 10px;
  overflow: hidden;
  display: flex;
  &.msg-sent
    justify-content: flex-end;
    align-items: flex-end;
  &.hidden
    display none
  >
    .author-name
      width: 100%;
      color: #888;
      &.msg-receive
        text-align: right;
        margin-right: (avatar-size+10)px;
      &.msg-sent
        text-align: left;
        margin-left: (avatar-size+10)px;








//.base-receive > .avatar:after {
//  content: "";
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 0;
//  height: 0;
//  border: 5px solid #FFF;
//  border-left-color: rgba(0, 0, 0, 0);
//  border-bottom-color: rgba(0, 0, 0, 0);
//}

.msg-container.msg-sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.msg-sent > .time {
  float: right;
  //color: red;
}

.btn-group.dropup
  position: fixed;
  left: 0;
  bottom: 0;

