.msg-container.row([ngClass]="classes")
  .author-name([ngClass]="classes")
   |{{message.author ? message.author.name : '?'}}
  .chat-message(#messageEl="", [ngClass]="classes", (contextmenu)="openContextMenu($event)")
    p
      |{{message.text}}
    p.time • {{message.timestamp | fromUtcToLocal}}
    .avatar(
      [ngClass]="classes",
      class="")
      contact-avatar(
        [presentation]='message.author || {}',
        [class]="img-responsive")
    //context-menu-component(
    //  (onSelect)="onSelect($event)",
    //  [isMenuOpened]="isMenuOpened",
    //  (onMenuToggle)="onMenuToggle($event)",
    //  [menuItems]="menuItems",
    //  [menuItemComponentKey]="menuItemComponentKey")
