.modal-header.chat-modal
  .modal-title Общий список сотрудников
  button.close(type='button', (click)="dismiss()")
    span ×
.spinner.spinner-grid.full-fill(*ngIf="loading")
  div
    img(src="src/static/images/preloaders/grid_preloader.gif")
.modal-body.chat-modal
  .row
    .col
      div.contacts-list-box(style="margin-left: 17px;")
        chtpz-chat-contacts-list(
        [title]="'Список сотрудников'",
        [contactsType]="contactsType.chtpz")
    .col-1
      .row.align-items-center
        .col
          button.btn.btn-secondary((click)='addContacts()')
            i.fa.fa-angle-right
          button.btn.btn-secondary((click)='removeContacts()')
            i.fa.fa-angle-left
    .col
      div.contacts-list-box(style="margin-right: 17px;")
        chtpz-chat-contacts-list(
        [title]="'Активные контакты'",
        [contactsType]="contactsType.chat")
.modal-footer.chat-modal
  button.btn.btn-secondary(type='button', (click)="dismiss()") Отмена
  button.btn.btn-primary(type='button', (click)="save()") Сохранить

