@import "../../../../styles/"

.chtpz-chat-tabs-threads.webkit-scrollbar

  .conversation-wrap {
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    background-color main-background-color
    //@extend .col-lg-3;
  }

