.simple-notification(
    [@enterLeave]='item.state',
    (click)='onClick($event)',
    [class]='theClass',
    [ngClass]="class",
    (mouseenter)='onEnter()',
    (mouseleave)='onLeave()')
    div(*ngIf='!item.html')
        .sn-title {{item.title}}
        .sn-content {{item.content | max:maxLength:true}}
        .icon(*ngIf="item.icon && item.icon !== 'bare'", [innerHTML]='safeSvg')
    div(*ngIf='item.html',
        [innerHTML]='item.html')
    .sn-progress-loader(*ngIf='showProgressBar')
        span([ngStyle]="{'width': progressWidth + '%'}")
    .sn-close-cross(
        *ngIf='showClose',
        (click)='onCloseClick($event)')
        svg(version='1.1', width='100%', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1000 1000', enable-background='new 0 0 1000 1000', xml:space='preserve')
            g
                path(d='M881.1 10 500 391.1 118.9 10 10 118.9 391.1 500 10 881.1 118.9 990 500 608.9 881.1 990 990 881.1 608.9 500 990 118.9 881.1 10z')