
.simple-notification {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-bottom: 10px;
  color: #fff;
  //cursor: pointer;
  transition: all 0.5s;
}

.simple-notification.click-to-close{
  cursor: pointer;
}

.simple-notification.invisible{
  display: none;
}

.simple-notification .sn-title {
  margin: 0;
  padding: 0 50px 0 0;
  line-height: 30px;
  font-size: 20px;
}

.simple-notification .sn-content {
  margin: 0;
  font-size: 16px;
  padding: 0 50px 0 0;
  line-height: 20px;
  white-space pre
}

.simple-notification .icon {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 10px;
}

.simple-notification .icon svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

.simple-notification.rtl-mode {
  direction: rtl;
}

.simple-notification.rtl-mode .sn-content {
  padding: 0 0 0 50px;
}

.simple-notification.rtl-mode svg {
  left: 0;
  right: auto;
}

$error-color=#d0021b;
.simple-notification.error {
  background: #fdd9dd;
  color $error-color
  & svg path
  {
      fill: $error-color;
  }
}

$success-color=#417505;
.simple-notification.success {
  background: #e4f9cc;
  color $success-color
  & svg path
  {
    fill: $success-color;
  }
}

$info-color=#ffffff;
.simple-notification.info {
  background: #515b6d;
  color $info-color
  & svg path
  {
    fill: $info-color;
  }
}

.simple-notification.alert { background: #ffdb5b; }

.simple-notification .sn-progress-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.simple-notification .sn-close-cross {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 8px;
  width: 15px;
  height: 15px;
}

.simple-notification .sn-progress-loader span {
  float: left;
  height: 100%;
}

.simple-notification.success .sn-progress-loader span { background: #689F38; }
.simple-notification.error .sn-progress-loader span { background: #D32F2F; }
.simple-notification.alert .sn-progress-loader span { background: #edc242; }
.simple-notification.info .sn-progress-loader span { background: #0288D1; }
.simple-notification.bare .sn-progress-loader span { background: #ccc; }
    