doctype html

div(style={
        'margin': '15px 0',
        'box-shadow': '0 1px 14px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.14)',
        'border-bottom': 'solid 1px #eaeaea'
    })
    div(style={
            'min-height': '50px',
            'background-color': '#f5f6f5',
            padding: '15px'
        })
        span(#headerContainer)
    div(style={
            padding: '15px'
        })
        span(#contentContainer)