doctype html

div(style={position: 'relative', left: '-10px', margin: '10px 0'})
    span(*ngFor='let button of buttonsParams')
        button.default-button-styles([ngStyle]='button.ngStyle', style={padding: '0 10px'})
            span {{ button.label }}
            div(*ngIf="button.requireDropdownArrow === true", style={'margin-left': '5px', display: 'inline-block'})
                img(src="/src/static/appMenu/menu-arrow-up.svg")