div(style={'text-align': 'center', width: '100%'})
    div((click)='whenPlusButtonClick.next()')
        i.fa.fa-plus-square-o.fa-2x
    div(style={position: 'absolute', left: '50%', 'text-align': 'left', 'z-index': 1000, 'background-color': 'white'}, *ngIf='isDropdownOpen | async')
        div(*ngFor='let component of components',
            style={cursor: 'pointer'},
            (click)='setComponent(component)')
            span {{ component }}
        div _________________________
        div Элементы из буфера:
            div(*ngFor='let element of bufferedElements | async', (click)='whenSelectBufferElement.next(element)')
                span {{ element }}