@import "../../../../../styles"

.chtpz-chat-tabs-searchbox
  label
    margin-right 5px
  input
    background-color header-background-color
    border none
    color main-background-color
    &:focus
      outline none


