doctype html

mixin icoContainer(stream)
    div(style={display: 'inline-block', margin: '0 5px'}, (click)=stream + '.next()')
        block

div(style={border: 'solid 1px gray', padding: '1px', position: 'relative'})
    div(style={positions: 'relative', 'min-height': '40px'})
        div
            div
                span Тип компонента:
                span  {{ defenition.component }}
            div(*ngIf='defenition.componentAlias')
                span Уникальный псевдоним:
                span  {{ defenition.componentAlias }}
        div(style={position: 'absolute', right: 0, top: 0, padding: '5px', height: '30px', 'background-color': 'white'})
            +icoContainer("whenClickScissors")
                i.fa.fa-scissors
            +icoContainer
                i.fa.fa-files-o
            +icoContainer
            +icoContainer("whenClickCogs")
                i.fa.fa-cogs
            +icoContainer
                i.fa.fa-window-minimize
            +icoContainer
                i.fa.fa-window-maximize

    div(*ngIf="isComponentSwitchContainer")
        span Активный контейнер:
        select([(ngModel)]='selectedSwitchContainerModel', (change)="changeActualContainer($event.target.value)")
            option(*ngFor="let element of switchContainerCases", [value] ='element')
                span {{ element }}

    div(*ngIf="isConfigVisible | async")
        span Настройки:
        div(style={padding: '1em'})
            div(#paramsReference)
            div
                button((click)='whenApplyConfigClick.next()') Применить

    div(style={border: 'solid 1px lightgreen'})
        span(#exposeReference)