@import "../../../../styles"

.chtpz-chat-thread-header
  color header-color
  if is-test
    background-color #886aff
  else
    background-color header-background-color
  height: 70px;
  position: relative;
  z-index: 100;
  .media
    border-bottom none


