.chtpz-chat-thread-header
  .media.chtpz-chat-media.chtpz-chat-tabs-contact
    .float-left.avatar
      img.media-object(*ngIf='currentThread?.avatarSrc' src='{{currentThread?.avatarSrc}}')
    .media-body
      h5.media-heading.contact-name
        | {{currentThread?.name}}
        span(style='color: red;float: right;')
          | {{unreadMessagesCount | async}}
