.chat-context-menu(#menu='', *ngIf='isMenuOpened')
  ul
    li(*ngFor='let item of menuItems',
    (click)='select(item, $event)',
    [ngClass]='{"avatar-status-selected": item.selected}')
      .avatar-status([ngClass]='item.className')
      .avatar-status-caption  {{ item.caption }}
