doctype html

.row(*ngFor='let row of (viewRows | async); let rowIndex = index;')
    div(*ngFor='let cellClasses of row; let columnIndex = index;', [ngClass]="cellClasses.bootstrapWidth")
        div(#cell, [attr.rowIndex]="rowIndex", [attr.columnIndex]="columnIndex")