@import "../../../styles"

.chtpz-chat-tabs-container
  background-color red
  padding test-padding
  height: 100%;

  .webkit-scrollbar
    if is-test
      background-color #fff54a
    else
      background-color main-background-color !important

    padding: test-padding
    overflow: auto;

   /* .chtpz-chat-media
      position: relative;
      display: block;
      padding: 5px;
      border-bottom: 1px solid #ddd;
      margin: 0;
      &.media {
        zoom: 1;
        overflow: hidden;
      }
      &.active{
        background-color second-background-color
      }

      .avatar {
        width: 50px;
        height: 50px;
        &.media-object{
          display: block;
        }
      }

      .media-body{
        display: table-cell;
        vertical-align: top;
        width: 10000px;
        zoom: 1;
        overflow: hidden;
        padding-left: 10px;
      }

      &:hover {
        cursor: hand;
        cursor: pointer;
        opacity: .8;
      }

      // http://ctrlq.org/code/19639-turn-div-clickable-link
      .div-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        !* Makes sure the link doesn't get underlined *!
        z-index: 10;
        !* raises anchor tag above everything else in div *!
        background-color: white;
        !*workaround to make clickable in IE *!
        opacity: 0;
        !*workaround to make clickable in IE *!
      //filter: alpha(opacity=0);
        !*workaround to make clickable in IE *!
      }*/
.full-height {
  max-height: 100%;
  height: 100%;
}

.chat-tabs-all-contacts-modal .modal-dialog{
  top: 60px !important;
  left: 60px !important;
  right: 60px !important;
  bottom: 60px !important;
  margin: 0;
  position: absolute;
  max-width: none;
  max-height: none;
  //z-index: 1001;
  .modal-content{
    height: 100%;
    display: block;
    .modal-header{
      display: flex;
      z-index 2
      position relative
      button {
        align-self flex-end
      }
    }
    .modal-body{
      display: block;
      height: 100%;
      position: relative;
      padding: 55px 0 70px;
      margin: -55px 0 -70px;
      z-index: 1;
      background-color: #fff;
      .row {
        height: 100%;
        margin: 0;
        .col {
          background-color: #fff;
          .contacts-list-box {
            height: 100%;
            padding: 20px 0;
            .chtpz-contacts-list {
              height: 100%;
              position: relative;
              .contacts-list-title {
                margin: 20px 0;
              }
              section.contacts-input {
                position: relative;
              }
              section.contacts-list {
                top: 90px;
                bottom: 0;
                position: absolute;
                width: 100%;
                overflow: auto;
                border: #b7b7b7 1px solid;
                border-radius: 0.25rem;
              }
            }
          }
        }
      }
    }
    .modal-footer {
      display: block;
      text-align: end;
      position: relative;
      bottom: 0;
      z-index: 2;
    }
  }
}




