.chtpz-chat-tabs-container
  tabs-header

  chtpz-ngb-tabset('[activeId]'='"tabs-threads"','(tabChange)'='tabChange($event)', '[justify]'='"center"')
    ngb-tab('[id]'='"tabs-contacts"')
      ng-template(ngbTabTitle)
        | Активные
      ng-template(ngbTabContent)
        tabs-contacts
    ngb-tab('[id]'='"tabs-threads"')
      ng-template(ngbTabTitle)
        |  Диалоги
      ng-template(ngbTabContent)
        tabs-threads
    ngb-tab('[id]'='"tabs-all-contacts"')
      ng-template(ngbTabTitle)
        |  Все
      ng-template(ngbTabContent)
        tabs-all-contacts
