.media.chtpz-chat-media.chat-hover.chtpz-chat-tabs-contact(*ngIf='contact.inUserList', [ngClass]='{"active": selected }')
  .float-left.avatar
    contact-avatar([presentation]='contact')
  .media-body
    h5.media-heading.contact-name
      | {{contact.name}}
    small.contact-position {{contact.position}}
  a.div-link((click)='clicked(contact,$event)',
              title='{{contact.name}}') Select
