@import "../../../../../styles"

.chtpz-chat-thread-input
  height: 100%;
  .input-group
    border-top main-border
    position: relative;
    height: 100%;

    .btn-chat
      &:hover
        cursor pointer

    textarea
      resize none
      border none

    .input-group-addon
      border none
      border-radius: 0;
      background-color main-background-color


