.chtpz-chat-thread-input
  .input-group
    span.input-group-addon
      span.btn.btn-chat
    textarea.chat-input.form-control(
      type='text',
      placeholder='Написать сообщение...',
      (keydown.control.enter)='onEnter($event)',
      [(ngModel)]='draftMessage.text' )
    span.input-group-addon
      button.btn-chat.btn.btn-primary((click)='onEnter($event)') Отправить
