doctype html

div(style="height: 100%; padding: 20px 10px; font-size: 14px; background-color: rgb(245, 246, 245);")
    div([ngStyle]="(state | async) === 'minimized' ? {'text-align': 'center'}: null")
        img(src='/src/static/images/ico/userpic.jpg',
            style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px")
        span(*ngIf="(state | async) === 'maximized'") Иван Иванов
    div(style="padding-top: 10px", #nodesContainer)
        div(*ngFor="let node of nodes | async",
            style="margin-top: 10px; position: relative",
            [ngStyle]="(state | async) === 'minimized' ? {'text-align': 'center'}: null",
            (mouseenter)="whenMouseEnterNode.next(node)",
            (mouseleave)="whenMouseLeaveNode.next(node)")
            // ico bind
            div(style="display: inline-block; width: 40px; vertical-align: top; padding: 5px 0px; position: relative;",
                [ngStyle]="node.nodeUuid === hoverNode && (state | async) === 'minimized' ? {'background-color': 'white', 'width': '60px', 'left': '-10px'}: null")
                div(*ngIf="node.iconHtml !== undefined",
                    style="width: 40px; display: inline-block; text-align: center; cursor: pointer",
                    [ngStyle]="activeParent === node.nodeUuid ? activeNodeStyle: null",
                    (click)="toggleNode(node)")
                    span([innerHTML]="transform(node.iconHtml)")
            // primary elements
            div([ngStyle]="centralBlockWidthStyle | async",
                style="display: inline-block; overflow-x: hidden; padding-left: 10px",
                *ngIf="(state | async) === 'maximized'")
                div(style="cursor: pointer",
                    (click)="toggleNode(node)",
                    [ngStyle]="activeParent === node.nodeUuid ? activeNodeStyle: null") {{ node.verboseName }}
                div(style="margin-top: 15px", *ngIf="node.nodeUuid === openNode")
                    div(*ngFor="let childNode of node.childNodes",
                        style="margin-bottom: 10px; cursor: pointer",
                        (click)="activateNode(childNode)")
                        span([ngStyle]="activeNode === childNode.nodeUuid ? activeNodeStyle: null")
                            span {{childNode.verboseName}}
            // popup elements
            div(style="position: absolute; left: 100%; top: 0; padding-left: 10px; width: 142px; z-index: 101",
                *ngIf="node.nodeUuid === hoverNode && (state | async) === 'minimized'")
                div(style="background-color: white; padding: 5px; text-align: left; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14)")
                    div(style="font-size: 16px; padding: 10px; cursor: default") {{ node.verboseName }}
                    div(*ngFor="let childNode of node.childNodes",
                        style="cursor: pointer; padding: 10px",
                        [ngStyle]="activeNode === childNode.nodeUuid ? {'background-color': 'rgba(73, 143, 225, 0.15)'}: null",
                        (click)="activateNode(childNode)")
                        span
                            span {{childNode.verboseName}}
            div(style="display: inline-block; width: 10px; vertical-align: top",
                *ngIf="(state | async) === 'maximized'")
                span(*ngIf="node.childNodes !== undefined && node.childNodes !== null && node.childNodes.length > 0",
                    (click)="toggleNode(node)",
                    style="cursor: pointer")
                    img(src='/src/static/appMenu/menu-arrow-up.svg', *ngIf="node.nodeUuid !== openNode")
                    img(src='/src/static/appMenu/menu-arrow-down.svg', *ngIf="node.nodeUuid === openNode")