span.entity-tabs-wrapper(*ngFor='let tab of tabsModel')
    div([ngClass]='{"active-entity-tab": tab.isActive, "entity-tab": true}', (click)='changeTabTo(tab.entityIdentifier)')
        span {{ tab.verboseName | async }}
