.chtpz-tabset
  .tab-content
    ng-template(ngFor='', let-tab='', [ngForOf]='tabs')
      .tab-pane.active(*ngIf='tab.id === activeId', role='tabpanel', [attr.aria-labelledby]='tab.id', id='{{tab.id}}-panel')
        ng-template([ngTemplateOutlet]='tab.contentTpl?.templateRef')
  ul([class]="'nav nav-' + type + ' justify-content-' + justify", role='tablist')
    li.nav-item(*ngFor='let tab of tabs')
      a.nav-link([id]='tab.id', [class.active]='tab.id === activeId', [class.disabled]='tab.disabled', href, (click)='!!select(tab.id)', role='tab', [attr.aria-controls]="tab.id + '-panel'", [attr.aria-expanded]='tab.id === activeId')
        | {{tab.title}}
        ng-template([ngTemplateOutlet]='tab.titleTpl?.templateRef')
