@import "../../../styles"

.chtpz-tabset
  height: 100%;
  padding: 50px 0 0;
  padding-top 70px
  margin: -50px 0;
  margin-top -70px
  background-color: antiquewhite;
  .tab-content
    height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
    .tab-pane
      height: 100%;
  ul[role="tablist"]
    height: 50px;
    background-color main-background-color
    border-top main-border
    .nav-link
      border none
