@import "../../../../styles"

.chtpz-chat-tabs-header.media.chtpz-chat-media
  color header-color
  border-right header-border
  if is-test
    background-color #45ff67
  else
    background-color header-background-color
  height: 70px;
  padding: 5px;
  position: relative;
  border-bottom: none !important;
  display table
  width 100%
  .media-body
    display table-cell
    vertical-align middle



